@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}
.header {
  background: #e6e6fa;
  padding: 50px 0;
}
.main {
  float: left;
  background: #fa8072;
  height: 600px;
  width: 500px;
  line-height: 600px;
}
.side {
  float: right;
  background-color: #fffacd;
  height: 600px;
  width: 300px;
  line-height: 600px;
}
.footer {
  background: #add8e6;
  padding: 50px 0;
  clear: both;
}