<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="CSS/style.css">
  <title>3column応用</title>
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <main>
      <div class="item">
        <a>
          <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
            <li>item4</li>
            <li>item5</li>
            <li>item6</li>
            <li>item7</li>
            <li>item8</li>
            <li>item9</li>
            <li>item10</li>
          </ul>
        </a>
      </div>
      <div class="text">
        <ul>
          <li>テキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキスト</li>
          <li>テキストテキストテキストテキスト</li>
        </ul>
      </div>
      <div class="sub1">サブタイトル
      　<ul>
          <li>product1</li>
          <li>product2</li>
          <li>product3</li>
          <li>product4</li>
        </ul>
      </div>
      <div class="sub2">サブタイトル
        <ul>
          <li>product1</li>
          <li>product2</li>
          <li>product3</li>
          <li>product4</li>
        </ul>
      </div>
      <div class="banner">バナー画像</div>
    </main>
    <footer>Copyright (C)2018テキストテキストテキストテキストテキストテキスト</footer>
  </div>
</body>
</html>